body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(../images/20200911_063857_1.jpg);
}
h1 {
  font-size: 45px;
}

ul {
  list-style: none;
  padding: 0;
}

small {
  font-size: smaller;
  color: #f8f59b;
}
small > a {
  text-decoration: none;
}
small > a:hover {
  text-decoration: underline;
  color: #f8f59b;
}

.weather-app-wrapper {
  margin: 50px auto;
  max-width: 650px;
}

.weather-app {
  border: 1 solid #5669de;
  border-radius: 10px;
  padding: 20px;
  color: #f8f59b;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}

.weather-search-form {
  padding-left: 15px;
}

[placeholder] {
  font-size: 14px;
  padding-left: 15px;
}
.type-city {
  border-radius: 30px;
  border: none;
  width: 100%;
  line-height: 40px;
}

.search-icon {
  font-size: 32px;
  margin: 6px 0;
  color: #f8f59b;
}

.button-form,
.button-current {
  background: transparent;
  border: none;
}

.weather-search-form div:nth-child(1),
.weather-today > div,
.weather-forecast > div {
  padding: 0;
}

.weather-search-form div:nth-child(2) {
  text-align: right;
}
.weather-search-form div:nth-child(3) {
  text-align: center;
}

.weather-today {
  align-items: center;
  padding: 0 15px;
}

.weather-today div:nth-child(2),
.weather-today div:nth-child(3) {
  text-align: right;
}
.weather-temperature .icon {
  width: 140px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#main-temperature {
  font-size: 60px;
  font-weight: 400;
  word-spacing: -15px;
  text-align: center;
}

.weather-temperature .units {
  position: relative;
  top: -34px;
  font-size: 20px;
}

.weather-forecast-date,
.weather-forecast-temperature {
  text-align: center;
  line-height: 32px;
  margin-bottom: 0;
  color: #f8f59b;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}

.weather-forecast-icon {
  margin-bottom: 0;
  text-align: center;
}
.weather-forecast-icon img {
  width: 80px;
}
